:root {
    --primary-text-color: #999999;
    --accent-color: #4985FF;
    --text-color-zag: #323232;
    --text-color-zag-two: #FFFFFF;
    --text-color-zag-three: #000000;
    // --background-color: ;
    // --fon-background-color: ;
    // --fon-background-color-two: ;
    // --fon-background-color-footer: ;
    // --border-line-heder: ;
    // --border-icon: ;
    // --color-icon-primary:;
}