body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--second-color);

  // от бакузова
  counter-reset: section;

  &.no-scroll {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  // outline: 1px solid tomato;
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 728px;
  }

  @media screen and (min-width: 1366px) {
    width: 1354px;
  }
}
