@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}
// background-color: black;
// footer {
//   margin-top: auto;
// }
