@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --main-ff: 'Roboto', sans-serif;
  --logo-ff: 'Raleway', sans-serif;
  --accent: var(--accent);
  --bg: #ffffff;
  --text: #000;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
  --btn: #007acc42;
}

body {
  height: 100%;
  font-family: var(--main-ff);
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 90vh;
}
