.headcont {
    height: 100px;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}
.header__list {
    display: flex;
}
.header__list-point {
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
    &.pos-abs{
        position: sticky;
    }
}
.current::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -40px;
}
.header__list-point-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--text-color-zag-two);
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
}
