.hero {
  background-image: 
  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/fon/fon2xx.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.conthero {
  padding-top: 219px;
  padding-bottom: 315px;
  text-align: center;
}
.hero__pre-text-title {
  color: var(--text-color-zag-two);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 20px;
}
.hero__title {
  color: var(--text-color-zag-two);
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  margin-bottom: 50px;
}
.hero__btn {
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 13px 37px;
  border: none;
}
.hero__btn--link {
  text-decoration: none;
  color: var(--text-color-zag-two);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}