<section class="about" id="about">
  <div class="container">
    <h2 class="about__title">Teacher</h2>
    <div class="about__wrap">
      <picture>
        <source
          srcset="./images/about/teacher-lg.jpg 1x, ./images/about/teacher@2x-lg.jpg 2x"
          media="(min-width: 1200px)"
          type="image/jpg"
        />
        <source
          srcset="./images/about/teacher-s.jpg 1x, ./images/about/teacher@2x-s.jpg 2x"
          media="(max-width: 1199px)"
          type="image/jpg"
        />
        <img
          class="about__img"
          src="./images/about/teacher-s.jpg"
          alt="teacher Elena Moreva"
          width="243"
          height="306"
          loading="lazy"
        />
      </picture>
      <div class="about__group">
        <h3 class="about__subtitle">Elena Moreva</h3>
        <ul class="about__list">
          <li class="about__item">
            <p class="about__text">6 yeards of experience in preparing students for UPE</p>
          </li>
          <li class="about__item">
            <p class="about__text">Own result of passing VNO - 197 points 2 years in a row</p>
          </li>
          <li class="about__item">
            <p class="about__text">
              Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
              English Test)
            </p>
          </li>
        </ul>
        <p class="about__description">
          <span class="about__help">
            Graduated from the Institute of International Relations of the NAU with a degree in
            translator-analyst.<br />
          </span>
          <span class="about__help"
            >spare time takes courses from the best universities in the world on effective teaching
            and essay writing techniques.
          </span>
          <span class="about__help"
            >Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
            University of Queesland), How to Write an Essay (Berkeley), Academic and Business
            Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching
            and Learning (University of Houston).</span
          >
        </p>
        <a class="about__link" href="">Cambrige English Entry Level Certificate</a>
      </div>
    </div>
  </div>
</section>
