<section class="benefits" id="benefits">
  <div class="container benefits__container">
    <h2 class="benefits__title">Why do people choose us</h2>
    <ul class="benefits-list">
      <li class="benefits-list__item">
        <p class="benefits-list-number"></p>
        <h3 class="benefits-list-text">Training in small groups</h3>
      </li>
      <li class="benefits-list__item">
        <p class="benefits-list-number"></p>
        <h3 class="benefits-list-text">Rendered notes</h3>
      </li>
      <li class="benefits-list__item">
        <p class="benefits-list-number"></p>
        <h3 class="benefits-list-text">Each lesson has a goal and a specific result</h3>
      </li>
      <li class="benefits-list__item">
        <p class="benefits-list-number"></p>
        <h3 class="benefits-list-text">The real results of the teacher</h3>
      </li>
      <li class="benefits-list__item">
        <p class="benefits-list-number"></p>
        <h3 class="benefits-list-text">
          The course program meets the requirements of the MES of Ukraine
        </h3>
      </li>
      <li class="benefits-list__item">
        <p class="benefits-list-number"></p>
        <h3 class="benefits-list-text">Set of groups by level of knowledge</h3>
      </li>
    </ul>
  </div>
</section>
