<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title">
      Registration for a
      <span class="contacts__title--accent"> free </span>
      phone
      <span class="contacts__title--accent"> consultation </span>
      on the nuances of English UPE
    </h2>
    <p class="contacts__subtitle">
      <span class="contacts__subtitle--item">
        Leave a request for participation in a
        <span class="contacts__subtitle--accent"> free lesson</span>.
      </span>
      <span class="contacts__subtitle--item">
        A consultant will contact you and answer your questions
      </span>
    </p>
    <form class="registration__form" id="form">
      <input
        class="registration__item"
        type="text"
        pattern="[A-z]{4,15}"
        title="enter username. 4 to 15 lowercase English letters"
        name="username"
        placeholder="Name*"
        required="required"
      />
      <input
        class="registration__item"
        type="tel"
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
        title="093-123-23-23"
        name="phone"
        placeholder="Phone*"
        required="required"
      />
      <button class="button footer__button--transparent" type="submit">
        i want a free lesson
        <div class="dot"></div>
      </button>
    </form>
  </div>
</section>
