<footer class="footer">
  <section class="footer__container container">
    <p class="footer__text">&copy 2022 | All Rights Reserved |</p>
    <p class="footer__text">
      Developed with
      <span class="footer__span">
        <svg class="footer__svg">
          <use href="./images/symbol-defs.svg#heart"></use>
        </svg>
      </span>
      by
    </p>
    <a class="footer__link">GoIT Students</a>
  </section>
  <div class="backdrop" data-modal-footer>
    <div class="modal__form">
      <button class="modal__btn" type="button" data-modal-close>
        <svg class="modal__btn-icon">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="modal__list">
        <li class="modal__list-item">
          <img
            class="modal__img"
            src="./header-img/Rectangle-320.jpg"
            alt="Team Lead"
          />
          <p>VsevolodZharkov</p>
          <ul>
            <li class="modal__social-item">
              <a href="" class="modal__social-link">
                <svg class="modal__social-icon" width="20" height="20">
                  <!-- <use href=""></use> -->
                </svg>
              </a>
            </li>
            <li class="fmodal__social-item">
              <a href="" class="modal__social-link">
                <svg class="modal__social-icon" width="20" height="20">
                  <!-- <use href=""></use> -->
                </svg>
              </a>
            </li>
            <li class="modal__social-item">
              <a href="" class="modal__social-link">
                <svg class="modal__social-icon" width="20" height="20">
                  <!-- <use href=""></use> -->
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="modal__list-item"></li>
        <li class="modal__list-item"></li>
        <li class="modal__list-item"></li>
        <li class="modal__list-item"></li>
      </ul>
    </div>
  </div>
</footer>
