<footer class="footer">
  <section class="footer__container container">
    <p class="footer__text">&copy 2022 | All Rights Reserved |</p>
    <p class="footer__text">
      Developed with
      <span class="footer__span">
        <svg class="footer__svg">
          <use href="./images/symbol-defs.svg#heart"></use>
        </svg>
      </span>
      by
    </p>
    <a class="footer__link">GoIT Students</a>
  </section>
  <div class="backdrop" data-modal-footer>
    <div class="modal__form-footer">
      <button class="modal__btn-footer" type="button" data-modal-close>
        <svg class="modal__btn-icon">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
			<h2 class="footer__title-modal">Development Team</h2>
      <ul class="modal__list">
        <li class="modal__list-item">
          <img
            class="modal__img"
            src="./img/img-team/Vsev Zhar.jpg"
            alt="Team Lead"
          />
          <p class="modal__text-name">Vsevolod Zharkov</p>
					<p class="modal__text-post">Team Lead</p>
					<ul class="modal__list-modal-social">
						<li class="modal__social-item">
							<a href="" class="modal__social-link">
								<svg class="modal__social-icon">
									<use href="./img/sprite.svg#git-svg"></use>
								</svg>
							</a>
						</li>
						<li class="modal__social-item">
							<a href="" class="modal__social-link">
								<svg class="modal__social-icon">
									<use href="./img/sprite.svg#linked"></use>
								</svg>
							</a>
						</li>
					</ul>
        </li>
				<li class="modal__list-item">
          <img
            class="modal__img"
            src="./img/img-team/Volod Roman.jpg"
            alt="Scrum Master"
          />
          <p class="modal__text-name">Volodymyr Romanenko</p>
					<p class="modal__text-post">Scrum Master</p>
					<ul class="modal__list-modal-social">
						<li class="modal__social-item">
							<a href="" class="modal__social-link">
								<svg class="modal__social-icon">
									<use href="./img/sprite.svg#git-svg"></use>
								</svg>
							</a>
						</li>
						<li class="modal__social-item">
							<a href="" class="modal__social-link">
								<svg class="modal__social-icon">
									<use href="./img/sprite.svg#linked"></use>
								</svg>
							</a>
						</li>
					</ul>
        </li>
				<li class="modal__list-item">
          <img
            class="modal__img"
            src="./img/img-team/Alina Poli.jpg"
            alt="Developer"
          />
          <p class="modal__text-name">Alina Polishchuk</p>
					<p class="modal__text-post">Developer</p>
					<ul class="modal__list-modal-social">
						<li class="modal__social-item">
							<a href="" class="modal__social-link">
								<svg class="modal__social-icon">
									<use href="./img/sprite.svg#git-svg"></use>
								</svg>
							</a>
						</li>
						<li class="modal__social-item">
							<a href="" class="modal__social-link">
								<svg class="modal__social-icon">
									<use href="./img/sprite.svg#linked"></use>
								</svg>
							</a>
						</li>
					</ul>
        </li>
				<li class="modal__list-item">
          <img
            class="modal__img"
            src="./img/img-team/Serg Shev.jpg"
            alt="Developer"
          />
          <p class="modal__text-name">Sergiy Shevchenko</p>
					<p class="modal__text-post">Developer</p>
					<ul class="modal__list-modal-social">
						<li class="modal__social-item">
							<a href="" class="modal__social-link">
								<svg class="modal__social-icon">
									<use href="./img/sprite.svg#git-svg"></use>
								</svg>
							</a>
						</li>
						<li class="modal__social-item">
							<a href="" class="modal__social-link">
								<svg class="modal__social-icon">
									<use href="./img/sprite.svg#linked"></use>
								</svg>
							</a>
						</li>
					</ul>
        </li>
				<li class="modal__list-item last-m">
          <img
            class="modal__img"
            src="./img/img-team/Serg Ostap.jpg"
            alt="Developer"
          />
          <p class="modal__text-name">Seriy Ostapenko</p>
					<p class="modal__text-post">Developer</p>
					<ul class="modal__list-modal-social">
						<li class="modal__social-item">
							<a href="" class="modal__social-link">
								<svg class="modal__social-icon">
									<use href="./img/sprite.svg#git-svg"></use>
								</svg>
							</a>
						</li>
						<li class="modal__social-item">
							<a href="" class="modal__social-link">
								<svg class="modal__social-icon">
									<use href="./img/sprite.svg#linked"></use>
								</svg>
							</a>
						</li>
					</ul>
        </li>
      </ul>
    </div>
  </div>
</footer>
