<section class="how-we-do" id="how-we-do">
  <div class="container">
    <h2 class="do-title">How do we do it</h2>
    <ul class="do-list">
      <li class="do-list__item">
        <svg class="do-list-icon">
          <use href="./images/symbol-defs.svg#how-do-we-do-page"></use>
        </svg>
        <h3 class="do-list-title">Adapted program preparation for UPE</h3>
        <p class="do-list-text">
          You will learn grammar and vocabulary at the same time. And you will learn how to write
          essays.
        </p>
      </li>

      <li class="do-list__item">
        <svg class="do-list-icon">
          <use href="./images/symbol-defs.svg#how-do-we-do-phone"></use>
        </svg>
        <h3 class="do-list-title">Classroom and online learning</h3>
        <p class="do-list-text">
          The teacher will help not only in the classroom, but also during home preparation. Parents
          can chat if they wish.
        </p>
      </li>

      <li class="do-list__item">
        <svg class="do-list-icon">
          <use href="./images/symbol-defs.svg#how-do-we-do-book"></use>
        </svg>
        <h3 class="do-list-title">The habit of reading in English</h3>
        <p class="do-list-text">
          Articles from sources that are used in the development of this UPE will be received by
          phone twice a week.
        </p>
      </li>

      <li class="do-list__item">
        <svg class="do-list-icon">
          <use href="./images/symbol-defs.svg#how-do-we-do-group"></use>
        </svg>
        <h3 class="do-list-title">Psychological support</h3>
        <p class="do-list-text">
          We will teach you testing techniques, the ability to plan your confidence training in
          itself.
        </p>
      </li>

      <li class="do-list__item">
        <svg class="do-list-icon">
          <use href="./images/symbol-defs.svg#how-do-we-do-user"></use>
        </svg>
        <h3 class="do-list-title">Training on copyright manuals</h3>
        <p class="do-list-text">
          You don't have to waste your time on a search for material and to buy anything extra. We
          have compiled 2 manuals for you.
        </p>
      </li>

      <li class="do-list__item">
        <svg class="do-list-icon">
          <use href="./images/symbol-defs.svg#how-do-we-do-audio"></use>
        </svg>
        <h3 class="do-list-title">Ability to comprehend spoken English</h3>
        <p class="do-list-text">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in
          accordance with the studied vocabulary.
        </p>
      </li>
    </ul>
  </div>
</section>
