<div class="backdrop" data-modal>
  <div class="modal__form">
    <button class="modal__btn">
      <svg class="modal__btn-icon" width="30px" height="30px" data-modal-close>
        <use></use>
      </svg>
    </button>
    <article class="modal__form-card">
      <img
        class="modal__form-img"
        src="./img/Rectangle 18.jpg"
        alt=""
      />
      <div class="modal__descript">
        <h2 class="modal__title">Name of the movie</h2>

        <table class="modal__descript-table">
          <tbody>
            <tr>
              <td class="modal__text-properties">Vote / Votes</td>
              <td class="modal__text-params">
                <span class="modal__text-params-vote">7.3</span> /
                <span class="modal__text-params-votes">1260</span>
              </td>
            </tr>
            <tr>
              <td class="modal__text-properties">Popularity</td>
              <td class="modal__text-params">100.2</td>
            </tr>
            <tr>
              <td class="modal__text-properties">Original Title</td>
              <td class="modal__text-params">A FISTFUL OF LEAD</td>
            </tr>
            <tr>
              <td class="modal__text-properties">Genre</td>
              <td class="modal__text-params modal__text-low">Western</td>
            </tr>
          </tbody>
        </table>
        <h3 class="modal__descript-titel">About</h3>
        <p class="modal__descript-text">
          Four of the West's most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they've been
          double crossed – but by who and how?
        </p>
        <ul class="modal__button__list">
          <li>
            <button class="modal__button__item-watched" type="button">add to Watched</button>
          </li>
          <li><button class="modal__button__item-queue" type="button">add to queue</button></li>
        </ul>
      </div>
    </article>
  </div>
</div>
