<section class="problems section">
  <div class="container problems-container">
    <h2 class="problems__title">
      <span class="problems__title-span">The main problems&#160;</span>
      <span class="problems__title-span"> of students</span>
      in English UPE, which
      <span class="problems__title-span"
        >we <span class="problems__title-span-accent">help </span> to solve
      </span>
    </h2>
    <ul class="problems__list">
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle">Grammar</h3>
      </li>
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle">Inability to understand spoken English</h3>
      </li>
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle">Stingy vocabulary for writing an essay</h3>
      </li>
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle">Preparing alone</h3>
      </li>
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle">Lack of a single knowledge resource</h3>
      </li>
      <li class="problems__item">
        <p class="problems__number"></p>
        <h3 class="problems__subtitle">Lack of self-organization and laziness</h3>
      </li>
    </ul>
  </div>
</section>
