<section class="program" id="program">
  <div class="container program__container">
    <h2 class="program__title">Our program</h2>
    <ul class="program__list">
      <!-- 1 -->
      <li class="program__item">
        <h3 class="program__subtitle">1 semester</h3>
        <ul class="program__sublist">
          <li class="program__sublist-item">
            <h4 class="sublist__title">Grammar</h4>
            <ul class="program__second-sublist">
              <li class="sublist__item">Nouns & Articles</li>
              <li class="sublist__item">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="program__sublist-item">
            <h4 class="sublist__title">Vocabulary</h4>
            <ul class="program__second-sublist">
              <li class="sublist__item">Family & Relations</li>
              <li class="sublist__item">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- 2 -->
      <li class="program__item">
        <h3 class="program__subtitle">2 semester</h3>
        <ul class="program__sublist">
          <li class="program__sublist-item">
            <h4 class="sublist__title">Grammar</h4>
            <ul class="program__second-sublist">
              <li class="sublist__item">Pronouns</li>
              <li class="sublist__item">Active Voice</li>
              <li class="sublist__item">Passive Voice</li>
            </ul>
          </li>
          <li class="program__sublist-item">
            <h4 class="sublist__title">Vocabulary</h4>
            <ul>
              <li class="sublist__item">Home</li>
              <li class="sublist__item">School</li>
              <li class="sublist__item">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- 3 -->
      <li class="program__item">
        <h3 class="program__subtitle">3 semester</h3>
        <ul class="program__sublist">
          <li class="program__sublist-item">
            <h4 class="sublist__title">Grammar</h4>
            <ul class="program__second-sublist">
              <li class="sublist__item">Modal verbs</li>
              <li class="sublist__item">Infinitive</li>
              <li class="sublist__item">Gerund</li>
              <li class="sublist__item">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="program__sublist-item">
            <h4 class="sublist__title">Vocabulary</h4>
            <ul class="program__second-sublist">
              <li class="sublist__item">Travel & Tourism</li>
              <li class="sublist__item">Culture & Free Time</li>
              <li class="sublist__item">Sport</li>
            </ul>
          </li>
          <li class="program__sublist-item">
            <h4 class="sublist__title">Writing</h4>
            <ul class="program__second-sublist">
              <li class="sublist__item">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- 4 -->
      <li class="program__item">
        <h3 class="program__subtitle">4 semester</h3>
        <ul class="program__sublist">
          <li class="program__sublist-item">
            <h4 class="sublist__title">Grammar</h4>
            <ul class="program__second-sublist">
              <li class="sublist__item">Clauses: Conditional and Wishes</li>
              <li class="sublist__item">Direct / Reported speech</li>
              <li class="sublist__item">Preposition</li>
              <li class="sublist__item">Conjunction</li>
              <li class="sublist__item">Numeral</li>
            </ul>
          </li>
          <li class="program__sublist-item">
            <h4 class="sublist__title">Vocabulary</h4>
            <ul class="program__second-sublist">
              <li class="sublist__item">Healthy Living</li>
              <li class="sublist__item">Nature & Environment</li>
              <li class="sublist__item">Money</li>
            </ul>
          </li>
          <li class="program__sublist-item">
            <h4 class="sublist__title">Writing</h4>
            <ul class="program__second-sublist">
              <li class="sublist__item">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- 5 -->
      <li class="program__item">
        <h3 class="program__subtitle">5 semester</h3>
        <ul class="program__sublist">
          <li class="program__sublist-item">
            <h4 class="sublist__title">&#160;</h4>
            <ul class="program__second-sublist program__second-sublist--margin">
              <li class="sublist__item">Revision</li>
              <li class="sublist__item">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
