.button {
  width: 260px;
  padding: 14px 5px;
  border: 2px solid var(--accent-color);
  font-weight: var(--bold-weight);
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: color var(--duration) var(--cubic-bezier),
    background-color var(--duration) var(--cubic-bezier);

  @include mq(mobile-only) {
    font-size: var(--small-size);
    letter-spacing: var(--large-ls);
  }

  @include mq(tablet) {
    font-size: var(--main-size);
    letter-spacing: var(--huge-ls);
    line-height: 1.2;
  }

  @include mq(desktop) {
    width: 354px;
    padding: 26px 5px;
  }
}

.header__button--transparent {
  display: none;
  color: var(--accent-color);
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--second-color);
    background-color: var(--accent-color);
  }

  @include mq(tablet) {
    display: block;
    margin-left: 300px;
  }

  @include mq(desktop) {
    display: block;
    width: 336px;
    margin-right: 0;
  }
}

.hero__button--orange {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: transparent;
  }

  @include mq(tablet) {
    margin-right: auto;
    margin-left: 0;
  }

  @include mq(desktop) {
    margin-right: auto;
    margin-left: 0;
  }
}

.footer__button--transparent {
  position: relative;
  margin-top: 50px;

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: transparent;
  }

  @include mq(tablet) {
    margin-top: 31px;
  }

  @include mq(desktop) {
    width: 354px;
    margin-top: 80px;
  }
}

.dot {
  content: '';
  position: absolute;
  top: 0;
  width: calc(var(354px) * 0.2);
  height: 100%;
  border-radius: 100%;
  transition: all 300ms ease;
  display: none;
}

.dot:after {
  content: '';
  position: absolute;
  left: calc(50% - 0.4em);
  top: -0.4em;
  // top: -8px;
  // left: -8px;
  height: 1em;
  width: 1em;
  background: var(--accent-color);
  border-radius: 2em;
  border: 0.25em solid var(--second-color);
  box-shadow: 0 0 0.7em var(--second-color), 0 0 2em var(--second-color);
}

.footer__button--transparent:hover .dot,
.footer__button--transparent:focus .dot {
  animation: atom 2s infinite linear;
  display: block;
}

@keyframes atom {
  0% {
    transform: translateX(-7px) translateY(0);
  }

  40% {
    transform: translateX(348px) translateY(0);
  }

  50% {
    transform: translateX(348px) translateY(70px);
  }

  90% {
    transform: translateX(-7px) translateY(70px);
  }

  100% {
    transform: translateX(-7px) translateY(0);
  }
}

.modal__button--orange {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 65px;
  color: var(--accent-color);
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--second-color);
    background-color: var(--accent-color);
  }
}

.mobile__button--transparent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--accent-color);
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--second-color);
    background-color: var(--accent-color);
  }

  @include mq(tablet) {
    display: none;
  }
}
