.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu {
  &__backdrop {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(129, 83, 129, 0.3);
    transition: opacity var(--transition-duration) var(--timing-function),
      visibility var(--transition-duration) var(--timing-function);

    &.is-hidden {
      .menu__container {
        transform: translatex(100%);
      }
    }
  }

  &__container {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--mobile-menu-bg);
    padding-top: 60px;
    transform: translatex(0%);
    transition: transform var(--transition-duration) var(--timing-function);
  }

  &__button--open {
    position: absolute;
    z-index: 10;
    top: 25px;
    right: calc(100% / 2 - 140px);
    border: none;
    background-color: transparent;

    @include mq(mobile) {
      right: calc(100% / 2 - 220px);
    }
    @include mq(tablet) {
      top: 55px;
      right: calc(100% / 2 - 170px);
    }

    @include mq(desktop) {
      display: none;
    }
  }

  &__button--close {
    position: absolute;
    top: 25px;
    right: 25px;
    border: none;
    background-color: transparent;
  }

  &__button--order {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-white-color);
    border-radius: 22px;
    border: none;

    @include font(16px, 1.31, 700);
    text-align: center;
    color: var(--accent-color);
    width: 190px;

    max-width: 280px;
    height: 44px;
    margin: 0 auto 20px;
    transition: background-color var(--transition-duration) var(--timing-function);

    &:hover,
    &:focus {
      background-color: var(--btn-bg-hover);
    }
  }

  &__icon {
    margin-left: 20px;
  }

  &__list {
    margin: 0 auto;
    max-width: 320px;
  }

  &__item {
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-top: 1px solid var(--mobile-line-menu);

    &:last-child {
      border-bottom: 1px solid var(--mobile-line-menu);
    }
  }

  &__link {
    font-family: 'DM Sans', sans-serif;
    @include font(14px, 1.28, 700);
    color: var(--primary-white-color);
    transition: color var(--transition-duration) var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.back-to-top {
  position: fixed;
  z-index: 15;
  right: 20px;
  bottom: 20px;

  width: 50px;
  height: 50px;
  border: transparent;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-white-color);

  @include mq(tablet) {
    bottom: 30%;
  }

  @include mq(desktop) {
    right: 50px;
    bottom: 100px;
  }
}

.isShowBtn {
  opacity: 0.8;
  transition: opacity 1000ms var(--timing-function);

  &--hide {
    opacity: 0;
  }
}
