.pagination__list {
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 40px auto 0 auto;

  @media screen and (min-width: 768px) {
    width: 374px;
    margin: 60px auto 0 auto;
  }
}
.gallery__item {
  border-radius: 10px;

  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  &:hover {
    transform: scale(1.03);
  }
}

.previos,
.next {
  display: none;
  @include mq(tablet) {
    display: inline-block;
  }
}

.previos,
.next,
.pagination__dottes,
.pagination__btn {
  font-size: 13px;
  min-width: 34px;
  max-width: 36px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    min-width: 40px;
    max-width: 60px;
    font-size: 22px;
  }
}

.previos:hover,
.next:hover,
.previos:focus,
.next:focus,
.pagination__btn:hover,
.pagination__btn:focus {
  background-color: #fbac77;
  color: #fff;
}

.pagination__btn {
  background-color: #fff;
}

.pagination__btn.active__btn {
  background-color: #ff6b08;
  color: #fff;
}
.inner-pag {
  display: flex;
}
