.pagination__list {
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 40px auto 0 auto;
  gap: 2px;

  @media screen and (min-width: 768px) {
    width: 374px;
    margin: 60px auto 0 auto;
  }
}

.previos,
.next {
  display: none;
  @include mq(tablet) {
    display: inline-block;
  }
}

.previos,
.next,
.pagination__dottes,
.pagination__btn {
  font-size: 13px;
  min-width: 34px;
  max-width: 36px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 16px;
  color: var(--text);
  transition-property: background-color, color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
  border: 1px solid transparent;
  @media screen and (min-width: 768px) {
    min-width: 40px;
    max-width: 60px;
    font-size: 22px;
  }
}

.previos:hover,
.next:hover,
.previos:focus,
.next:focus,
.pagination__btn:hover,
.pagination__btn:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination__btn {
  background-color: transparent;
  border: 1px solid transparent;
}

.pagination__btn.active__btn {
  background-color: var(--accent);
  color: #fff;
}
.inner-pag {
  display: flex;
}
