.about {
  position: relative;
  background-color: var(--secondary-bg-color);
  padding-top: 125px;
  padding-bottom: 40px;
  @include mq(tablet) {
    padding-top: 130px;
    padding-bottom: 66px;
  }
  @include mq(desktop) {
    padding-top: 125px;
    padding-bottom: 65px;
  }
}

.about__container {
  margin: 0 auto;
}

.about__pre-title {
  margin-bottom: 15px;

  text-align: center;
  @include mq(tablet) {
    margin-bottom: 16px;

    text-align: center;
  }
  @include mq(desktop) {
    margin-bottom: 15px;
    text-align: center;
  }
}
.about__title {
  margin-bottom: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  min-width: 200px;
  @include mq(mobile) {
    margin-bottom: 50px;
  }
  @include mq(tablet) {
    margin-bottom: 55px;
  }
}

.about__wrap {
  @include mq(tablet) {
    display: flex;
  }
  @include mq(desktop) {
    padding-left: 62px;
    padding-right: 17px;
  }
}

.about__wrap::after {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  content: '';
  background-image: url(../images/about/about-bg-mob-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
  z-index: 1;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: url(../images/about/about-bg-mob-2x.png);
    }
  }
  @include mq(tablet) {
    display: none;
  }
  @include mq(desktop) {
    display: block;
    top: 135px;
    bottom: 0px;
    background-image: url(../images/about/about-bg-desk-1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(../images/about/about-bg-desk-2x.png);
      }
    }
  }
}

.about__right {
  position: relative;
  z-index: 2;
  margin-left: 50px;
  margin-right: 50px;
  @include mq(tablet) {
    margin-left: 17px;
    margin-right: 36px;
    width: 100%;
  }
  @include mq(desktop) {
    margin-left: 74px;
    margin-right: 0px;
    width: 100%;
    //padding-bottom: 172px;
  }
}

.about__after-title {
  min-width: 220px;
  @include font(12px, 1.6, 500);
  color: var(--black-text-color);
  margin-bottom: 47px;
  @include mq(tablet) {
    min-width: 340px;
    margin-bottom: 29px;
    @include font(14px, 1.76, 500);
  }
  @include mq(desktop) {
    margin-bottom: 35px;
    @include font(16px, 1.76, 500);
  }
}

.about__text {
  min-width: 220px;
  @include font(12px, 1.6, 500);
  @include mq(tablet) {
    @include font(14px, 1.78, 500);
    letter-spacing: 0.04em;
  }
  @include mq(desktop) {
    @include font(14px, 1.94, 500);
  }
}
.about__before-text {
  color: var(--secondary-text-color);
  margin-bottom: 17px;
}
.about__after-text {
  color: var(--secondary-text-color);
  margin-bottom: 17px;
  @include mq(tablet) {
    margin-bottom: 62px;
  }
}

.about__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font(14px, 1.28, 700);
  padding: 0px 37px;
  min-width: 176px;
  height: 44px;
  border-radius: 22px;
  background-color: var(--primary-white-color);
  color: var(--accent-color);
  border: 0px solid transparent;
  &:hover,
  &:focus {
    background-color: var(--btn-bg-hover);
    //color: var(--accent-color);
    //outline: transparent;
  }
  @include mq(tablet) {
    @include font(16px, 1.31, 700);
  }

  .btn__icon {
    margin-left: 14px;
    --color3: var(--accent-color);
  }
}
