.advantages {
  background-color: var(--secondary-bg-color);
  padding-bottom: 100px;
  @include mq(tablet) {
    padding-bottom: 140px;
  }
  @include mq(desktop) {
    padding-bottom: 140px;
  }
}

.advantages__list {
  @include mq(tablet) {
    display: flex;
  }
}

.advantages__item {
  min-width: 230px;
  margin-bottom: 38px;
  @include mq(tablet) {
    min-width: 180px;
    margin-right: 60px;
    margin-bottom: 0;
  }
  @include mq(desktop) {
    min-width: 330px;
    margin-right: 30px;
  }
}

.advantages__item:last-child {
  margin-bottom: 0;
  @include mq(tablet) {
    margin-right: 0;
  }
}

.advantages__title {
  margin-top: 16px;
  margin-bottom: 10px;
  text-align: start;
  @include mq(tablet) {
    margin-top: 36px;
    margin-bottom: 13px;
  }
  @include mq(desktop) {
    margin-top: 40px;
    margin-bottom: 15px;
  }
}

.advantages__text {
  width: 230px;
  @include font(12px, 1.7, 700);

  @include mq(mobile) {
    width: unset;
  }
  @include mq(tablet) {
    padding-right: 0;
    @include font(14px, 1.74, 700);
  }
  @include mq(desktop) {
    @include font(16px, 1.76, 700);
    letter-spacing: 0.02em;
  }
}
