.button__up {
  position: fixed;
  bottom: 100px;
  right: 20px;
  display: block;
  // background-color: var(--accent);
  border-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  background-color: var(--btn);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition-property: transform, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    transform: scale(1.1), translateX(10%);

    background-color: var(--accent);
  }
  @include mq(tablet) {
    width: 50px;
    height: 50px;
  }
  @include mq(desktop) {
    width: 60px;
    height: 60px;
  }
}

.button__up-arrow {
  position: absolute;
  top: 45%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 20px;
  @include mq(tablet) {
    font-size: 30px;
    top: 45%;
    left: 50%;
  }
}

.is-hidden {
  display: none;
}
