.footer {
  background-color: #e5e5e5;
  background-image: linear-gradient(to top, #111518 70px, #e5e5e5 70px);
  padding-top: 30px;
  padding-bottom: 21px;

  @include mq(tablet) {
    padding-top: 40px;
  }

  @include mq(tablet) {
    padding-top: 52px;
  }
}

.footer__container--top {
  @include mq(tablet) {
    margin-bottom: 64px;
    display: flex;
  }
}

.footer__logo {
  display: block;
  width: 80px;
  cursor: pointer;

  @include mq(mobile-only) {
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(tablet) {
    flex-basis: 128px;
    margin-right: auto;
  }

  @include mq(desktop) {
    margin-right: 290px;
  }
}

.footer__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--semi-bold-weight);
  font-size: var(--main-size);
  line-height: 1.2;
  letter-spacing: var(--large-ls);
  color: var(--main-color);

  @include mq(tablet) {
    font-size: var(--medium-size);
  }

  @include mq(tablet) {
    font-size: 30px;
  }

  &--icon {
    fill: var(--accent-color);
    margin-right: 10px;
    transition: scale var(--duration) var(--cubic-bezier);
    @include mq(tablet) {
      width: 24px;
      height: 23px;
    }
    @include mq(desktop) {
      width: 30px;
      height: 29px;
      margin-right: 15px;
    }
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(mobile-only) {
    margin-bottom: 51px;
  }

  @include mq(tablet) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.footer__contacts-item {
  display: flex;

  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &:first-child:after {
    @include mq(tablet) {
      content: '';
      height: 40px;
      width: 1px;
      margin: 0 24px;
      background-color: var(--grey-color);
    }
  }
}

.footer__phone:hover .footer__phone--icon,
.footer__phone:focus .footer__phone--icon {
  transform: scale(1.1);
}

.footer__link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: box-shadow var(--duration) var(--cubic-bezier);
  background: radial-gradient(
    110.28% 110.28% at 20.5% 87.39%,
    #fae100 0%,
    #fadc04 5.44%,
    #fbce0e 11.67%,
    #fcb720 18.29%,
    #fe9838 25.14%,
    #ff7950 30.54%,
    #ff1c74 49.22%,
    #6c1cd1 100%
  );

  &--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    fill: var(--second-color);
  }
}

.footer__link:hover,
.footer__link:focus {
  box-shadow: 0px 0px 15px 2px rgba(217, 46, 140, 1);
}

.footer__rights {
  max-width: 185px;
  font-weight: var(--medium-weight);
  font-size: var(--main-size);
  line-height: 2;
  color: var(--grey-color);
  @include mq(mobile-only) {
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(tablet) {
    margin-right: auto;
  }
}
