.guarantee {
  padding-top: 25px;
  @include mq(desktop) {
    padding-top: 65px;
  }

  &__title {
    font-family: var(--main-font);
    font-weight: 800;
    color: var(--main-color);
    font-size: 26px;
    line-height: 1.3;
    text-align: center;

    letter-spacing: 0.03em;
    margin-bottom: 80px;
    // background-color: #fff;


    @include mq(tablet) {
      font-size: 26px;
      margin-bottom: 60px;
    }
    @include mq(desktop) {
      font-size: 46px;
      margin-bottom: 100px;
    }
  }
}
.guarantee-container {
  padding-bottom: 50px;
  background-image: linear-gradient(to bottom, #fff 12%, #f1f1f1 12%);
  @include mq(tablet) {
    background-image: linear-gradient(to bottom, #fff 23%, #f1f1f1 23%);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    // width: 688px;
  }
  @include mq(desktop) {
    // width: 1314px;
    background-image: linear-gradient(to bottom, #fff 27%, #f1f1f1 27%);
    padding: 50px 112px 45px;
  }
}
.guarantee-list {
  // max-width: 280px;
  margin: auto;
  position: relative;

  @include mq(tablet) {
    max-width: 560px;
  }
  @include mq(desktop) {
    max-width: 1090px;
  }

  &__item {
    // padding-left: 35px;
    position: relative;
    display: flex;
    &:not(:last-child) {
      margin-bottom: 23px;
    }
    @include mq(tablet) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &::before {
      display: inline-block;
      content: '';
      width: 15px;
      height: 20px;
      // position: absolute;
      left: -8px;
      top: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #f1f1f1;
      background-image: url(../images/guarantee/fire-small.svg);
      z-index: 2;
      margin-right: 20px;
      @include mq(tablet) {
        margin-right: 24px;
      }

      @include mq(desktop) {
        left: -12px;
        width: 22px;
        height: 30px;
        background-image: url(../images/guarantee/fire.svg);
        margin-right: 35px;
      }
    }

    &:last-child::after {
      content: '';
      display: inline-block;
      border-width: 1px;
      border-color: #bababa;
      border-style: dotted;
      position: absolute;
      width: 1px;
      height: 340%;
      bottom: 65px;
      left: 5px;
      z-index: 1;
      @include mq(tablet) {
        height: 450%;
        bottom: 30px;
        left: 6px;
      }
      @include mq(desktop) {
        height: 410%;
        bottom: 35px;
        left: 9px;
      }
    }
  }
}
.guarantee-list-text {
  width: 245px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: var(--main-color);
  @include mq(tablet) {
    width: 520px;
  }
  @include mq(desktop) {
    width: 1038px;
    font-size: 20px;
    line-height: 1.4;
  }
}
.guarantee-text-decor {
  color: var(--accent-color);
}
