$gradient: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
$transition: 700ms cubic-bezier(0.4, 0, 0.2, 1);
.header {
  padding-top: 40px;
  padding-bottom: 92px;
  background-color: rgb(187, 130, 130);
  background-color: getColor('background-footer');
  background-image: linear-gradient(
      to right,
      getColor('background-overlay'),
      getColor('background-overlay')
    ),
    url(/src/header-img/Group-86.jpg);

  background-image: linear-gradient(
      to right,
      getColor('background-overlay'),
      getColor('background-overlay')
    ),
    url(/src/header-img/Group-86@2x.jpg);

  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;

  background-image: $gradient, url('../header-img/Group-86.jpg');

  @include mq(retina) {
    background-image: $gradient, url('../header-img/Group-86@2x.jpg');
  }

  @include mq(tablet) {
    padding-top: 40px;
    padding-bottom: 81px;

    background-image: $gradient, url('../header-img/Group-760.jpg');

    @include mq(retina) {
      background-image: $gradient, url('../header-img/Group-760@2x.jpg');
    }
  }

  @include mq(desktop) {
    padding-top: 40px;
    padding-bottom: 80px;

    background-image: $gradient,
      url('../header-img/abstract-background-with-red-lines-1280.jpg');

    @include mq(retina) {
      background-image: $gradient,
        url('../header-img/abstract-background-with-red-lines-1280@2x.jpg');
    }
  }
}

.site-nav__item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}

.auth-nav {
  display: flex;
  flex-direction: column;
}

.header-svg {
  margin: 0;
  width: 26px;
  height: 26px;
  @include mq(tablet) {
    margin-right: 8px;
  }
}

.page-header__nav {
  display: flex;
  align-items: center;
  margin-bottom: 54px;

  @include mq(tablet) {
    margin-bottom: 40px;
  }

  @include mq(desktop) {
    margin-bottom: 41px;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-header {
  color: #ffffff;
  display: none;

  @include mq(tablet) {
    display: inline;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
  }

  @include mq(desktop) {
    display: inline;
  }
}

.page-header__form {
  position: relative;
  margin-bottom: 16px;

  @include mq(tablet) {
    width: 336px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  @include mq(desktop) {
    width: 394px;
  }
}

.page-header__form > .footer-social__slogan {
  display: inline-block;
  margin-bottom: 20px;
}

.page-header__form-input {
  width: 100%;
  height: 20px;
  padding: 15px 16px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  // box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  color: rgba(255, 255, 255, 0.6);
  // transition: transform var(--transform);
  width: 280px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    // color: var(--footer-font-color);
    letter-spacing: 0.03em;
  }

  @include mq(tablet) {
    width: 336px;
  }

  @include mq(desktop) {
    width: 394px;
  }
}

.page-header__btn--active {
  padding: 8px;
  position: absolute;
  bottom: -8px;
  right: 0;
  display: flex;
  align-items: flex-end;

  font-family: inherit;
  color: #ffffff;
  letter-spacing: 0.06em;
  background-color: transparent;

  border: none;
}

.icon-send {
  fill: getColor('primary-color');
}
.form-box {
  position: relative;
}

.search {
  position: absolute;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #ff001b;
  @include mq(tablet) {
    // width: 336px;
    // height: 40px;
    top: 40px;
    left: 140px;
  }
  @include mq(desktop) {
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.filters-row {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  border-color: teal;

  &__btn {
    margin-right: 32px;
  }
}

.filters-row__btn--active {
  width: 152px;
  height: 44px;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  // border: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: inherit;
  color: #ffffff;
  background-color: transparent;

  &:hover,
  &:focus {
    cursor: pointer;
    border: none;
    background: var(--accent);
    border-radius: 5px;
  }
}
//
//
.site-nav {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    display: block;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;

    text-decoration: none;

    &--current {
      color: #ffffff;
      text-decoration: none;
      position: relative;
    }

    &--current::after {
      content: '';
      position: absolute;
      bottom: -1px;
      display: block;
      width: 100%;
      height: 3px;
      background: #ff001b;
    }
  }

  &__link:hover,
  &__link:focus {
    color: #ff001b;
    transition: $transition;
  }
}

.theme {
  width: 30px;
  height: 30px;
  display: flex;
  justify-self: center;
  align-items: center;
  margin-right: 40px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 50%;
  transition: transform, background-color, border;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.07);
  }
}

.menu-container__mobile {
  display: flex;
}

.theme__icon-light {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #f9d71c;
}

.theme__icon-dark {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #f4f6f0;
}
