.hero {
  overflow: hidden;
  position: relative;
  height: 500px;
  background-color: var(--header-bg-color);
  padding-top: 193px;

  @include mq(tablet) {
    height: 400px;
    padding-top: 100px;
  }

  @include mq(desktop) {
    height: 665px;
    padding-top: 171px;
  }

  &__title {
    margin-left: calc(100% / 2 - 159px);
    position: relative;
    margin-bottom: 19px;
    max-width: 210px;
    z-index: 2;

    @include font(26px, 1.15, null);
    font-family: Titan One;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-white-color);

    @include mq(mobile) {
      margin-left: calc(100% / 2 - 230px);
    }

    @include mq(tablet) {
      @include font(22px, 1.14, null);
      max-width: 180px;
      margin-left: calc(100% / 2 - 358px);
    }

    @include mq(desktop) {
      @include font(38px, 1.16, null);
      max-width: 277px;
      margin-left: 0;
    }
  }

  &-accent {
    @include font(48px, 0.97, null);
    color: var(--accent-color);

    @include mq(tablet) {
      @include font(34px, 0.91, null);
    }

    @include mq(desktop) {
      @include font(58px, 0.91, null);
    }
  }

  &__pic {
    position: absolute;
    bottom: 0;
    right: calc(100% / 2 - 106px);
    z-index: 1;

    @include mq(mobile) {
      right: calc(100% / 2 - 130px);
    }

    @include mq(tablet) {
      bottom: 0;
      right: calc(100% / 2 - 136px);
    }
    @include mq(desktop) {
      bottom: 0;
      right: calc(100% / 2 - 136px);
    }
  }

  @keyframes animateRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &__ellipse {
    position: absolute;
    z-index: 0;
    max-width: 346px;
    top: calc(100% / 2 - 175px);
    right: calc(100% / 2 - 206px);
    transform-origin: 53% 53%;
    animation: animateRotate 10s linear none infinite normal;
    @include mq(tablet) {
      max-width: 330px;
    }

    @include mq(desktop) {
      max-width: 540px;
      top: calc(100% / 2 - 277px);
      right: calc(100% / 2 - 330px);
    }
  }

  &-list {
    position: relative;
    display: flex;
    margin-left: calc(100% / 2 - 159px);
    z-index: 2;

    @include mq(mobile) {
      margin-left: calc(100% / 2 - 230px);
    }
    @include mq(tablet) {
      margin-left: calc(100% / 2 - 358px);
      margin-bottom: 66px;
    }
    @include mq(desktop) {
      margin-left: 0;
    }
  }

  &-list__item:not(:last-child) {
    margin-right: 9px;
    @include mq(desktop) {
      margin-right: 15px;
    }
  }

  &-button,
  &-button--product {
    position: relative;
    padding: 7px 13px;
    @include font(8px, 1.2, null);
    border-radius: 20px;
    border: none;
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background-color: var(--btn-bg-hover);
      outline: none;
    }

    @include mq(desktop) {
      padding: 11px 23px;
      @include font(14px, 1.3, null);
    }
  }

  &-button--product {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    &:focus,
    &:hover {
      background-color: var(--btn-focus-color);
    }
  }
}

.hero-feature {
  display: none;
  @include mq(tablet) {
    margin-bottom: -13px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% / 2 - 90px);
    right: calc(100% / 2 - 350px);
  }
  @include mq(desktop) {
    margin-bottom: -15px;
    top: calc(100% / 2 - 150px);
    right: calc(100% / 2 - 525px);
  }

  &__item {
    @include mq(tablet) {
      margin-bottom: 13px;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      text-align: right;
      font-family: Titan One;
      @include font(28px, 1.14, null);
      color: var(--accent-color);
    }
    @include mq(desktop) {
      margin-bottom: 15px;
      @include font(46px, 1.15, null);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      right: -9px;
      top: -3px;

      width: 16px;
      height: 16px;
      background-color: var(--primary-white-color);
      border-radius: 50%;
      @include mq(desktop) {
        width: 30px;
        height: 30px;
        top: -7px;
        right: -15px;
      }
    }
  }
  &__name {
    @include mq(tablet) {
      @include font(8px, 1.2, null);
      font-family: DM Sans;
      color: var(--primary-white-color);
    }
    @include mq(desktop) {
      @include font(14px, 1.3, null);
    }
  }
}

.hero-adv {
  display: none;
  position: relative;
  @include mq(tablet) {
    display: block;
  }

  &__text {
    @include mq(tablet) {
      margin-left: calc(100% / 2 - 250px);
      max-width: 114px;
      @include font(8px, 1.5, null);
      color: var(--primary-white-color);
    }
    @include mq(desktop) {
      @include font(14px, 1.4, null);
      max-width: 200px;
      margin-top: 112px;
      margin-left: 176px;
    }
  }

  &__button {
    margin-top: 7px;
    margin-left: calc(100% / 2 - 250px);
    width: 18px;
    height: 18px;
    border: none;
    outline: none;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    color: var(--accent-color);
    transition: bacground-color var(--transition-duration) var(--timing-function);
    &:hover,
    &:focus {
      background-color: var(--btn-bg-hover);
    }

    @include mq(desktop) {
      margin-top: 20px;
      margin-left: 176px;
      height: 26px;
      width: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__arrow {
    fill: currentColor;
  }

  &__pic {
    position: absolute;
    top: -47px;
    left: calc(100% / 2 - 370px);
    @include mq(desktop) {
      left: -38px;
    }
  }

  &__pic2 {
    position: absolute;
    top: -24px;
    right: calc(100% / 2 - 360px);
    @include mq(desktop) {
      top: -53px;
      right: calc(100% / 2 - 540px);
    }
  }
}
